DynamiteStores/DynamiteStore.Service.Console/Service References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18461/DynamiteStoreCustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18461/DynamiteStoreCustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18461/DynamiteStoreCustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DynamiteStore.DomainModel" />
      <xsd:import schemaLocation="http://localhost:18461/DynamiteStoreCustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DynamiteStore.DBObjectState" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomer_GetCustomerByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByKey" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByName" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllCustomersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersByName" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllCustomersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllCustomersWhoHasOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersWhoHasOrders" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetAllCustomersWhoHasOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersWhoHasOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerDetailsByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailsByKey" />
  </wsdl:message>
  <wsdl:message name="ICustomer_GetCustomerDetailsByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailsByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_AddUpdateCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUpdateCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomer_AddUpdateCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUpdateCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomerByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerByKey" />
  </wsdl:message>
  <wsdl:message name="ICustomer_DeleteCustomerByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerByKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomer">
    <wsdl:operation name="GetCustomerByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetCustomerByKey" message="tns:ICustomer_GetCustomerByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetCustomerByKeyResponse" message="tns:ICustomer_GetCustomerByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetCustomerByName" message="tns:ICustomer_GetCustomerByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetCustomerByNameResponse" message="tns:ICustomer_GetCustomerByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetAllCustomers" message="tns:ICustomer_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetAllCustomersResponse" message="tns:ICustomer_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetAllCustomersByName" message="tns:ICustomer_GetAllCustomersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetAllCustomersByNameResponse" message="tns:ICustomer_GetAllCustomersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomersWhoHasOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetAllCustomersWhoHasOrders" message="tns:ICustomer_GetAllCustomersWhoHasOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetAllCustomersWhoHasOrdersResponse" message="tns:ICustomer_GetAllCustomersWhoHasOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetailsByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/GetCustomerDetailsByKey" message="tns:ICustomer_GetCustomerDetailsByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/GetCustomerDetailsByKeyResponse" message="tns:ICustomer_GetCustomerDetailsByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUpdateCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/AddUpdateCustomers" message="tns:ICustomer_AddUpdateCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/AddUpdateCustomersResponse" message="tns:ICustomer_AddUpdateCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerByKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomerByKey" message="tns:ICustomer_DeleteCustomerByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomer/DeleteCustomerByKeyResponse" message="tns:ICustomer_DeleteCustomerByKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomer" type="tns:ICustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomerByKey">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetCustomerByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByName">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetCustomerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomersByName">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetAllCustomersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomersWhoHasOrders">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetAllCustomersWhoHasOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetailsByKey">
      <soap:operation soapAction="http://tempuri.org/ICustomer/GetCustomerDetailsByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomer/AddUpdateCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerByKey">
      <soap:operation soapAction="http://tempuri.org/ICustomer/DeleteCustomerByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomer" binding="tns:BasicHttpBinding_ICustomer">
      <soap:address location="http://localhost:18461/DynamiteStoreCustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>